<table class="table table-striped">
    <thead>
        <tr>
            <th ng-show="user.permisionLevel > 1">Pagado a fer</th>
            <th></th>
            <th>Vendida</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Inmortal</th>
            <th>Vendedor</th>
            <th>Estado</th>
            <th></th>
        </tr>
        <!-- <tr>
            <th>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="nombre" aria-describedby="basic-addon1">
                </div>
            </th>
            <th>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" placeholder="correo" aria-describedby="basic-addon1">
                </div>
            </th>
            <th>
                <select name="inmortal" class="form-control">
                    <option>Todos</option>
                    <option value="0">No inmortal</option>
                    <option value="1">En lista</option>
                    <option value="2">Inmortal</option>
                </select>
            </th>
            <th></th> -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="ticket in tickets" ng-class="ticket.sendState === 'Enviado' ? 'success' : ticket.sendState !== 'Intentándolo' ? 'danger' : ''">
            <td ng-show="user.permisionLevel > 1"><i class="fa fa-2x" ng-class="ticket.pay ? 'fa-check-square-o' : 'fa-square-o'" aria-hidden="true" ng-click="pay(ticket)"></i></td>
            <td>{{$index + 1}}</td>
            <td>{{ticket.sellDate}}</td>
            <td>{{ticket.name}}</td>
            <td>{{ticket.mail}}</td>
            <td ng-class="ticket.inmortal === 2 ? 'danger' : ticket.inmortal === 1 ? 'warning' : ''">{{ticket.inmortal === 2 ? 'Inmortal' : ticket.inmortal === 1 ? 'En espera' : ''}}</td>
            <td>{{ticket.user}}</td>
            <td>{{ticket.sendState === 'Enviado' || ticket.sendState === 'Intentándolo' ? ticket.sendState : 'Error'}}</td>
            <td ng-show="user.permisionLevel > 2"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ng-click="edit(ticket)"></i></td>
            <td ng-show="user.permisionLevel <= 2">Para editar habla con dani</td>
        </tr>
    </tbody>
</table>
