<button type="button" class="btn btn-primary" ng-click="sendMailFinal()">Envia Mensajes Finales</button>

<div class="modal fade" id="modalMailFinal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Se intentará enviar el correo final a todos los participantes...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Esperemos</button>
            </div>
        </div>
    </div>
</div>
