<form>
    <div class="form-group">
        <label class="control-label" for="name">Nombre:</label>
        <input class="form-control" id="name" type="text" ng-model="name" placeholder="pepito@gmail.com">
    </div>
    <div class="form-group">
        <label class="control-label" for="mail">Contraseña:</label>
        <input class="form-control" id="mail" type="password">
    </div>
    <div class="form-group">
        <label class="control-label" for="mail">Confirmar contraseña:</label>
        <input class="form-control" id="mail" type="password">
    </div>
    <div class="form-group">
        <button class="btn btn-success"><i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir</button>
    </div>
</form>
